extends layout

block content
    div.text-center
        div(class="form-signin")
            div.text-center
                p Transfer money #{amount} from #{srcAccount} account to #{destAccount} account success
                p Thank you
