extends layout

block content
    div.text-center
        div(class="form-signin")
            div.text-center
                p Wellcome Dear #{username}!
                a(href='/transfer') Tranfer money